@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --red: #f22e2e;
    --light-red: #ff4d4d;
    --dark-blue: #1e4554;
    --font-group: 'inter', Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--red);
    font-family: var(--font-group);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 7vw;
}

.logo {
    height: 77px;
}

ul,
nav {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul {
    gap: 15px;
}

li {
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.home-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp-n-wt-div {
    background-color: var(--light-red);
    width: 250px;
    padding: 17px;
    box-shadow: 0px 7px 15px rgb(0, 0, 0, 0.3);
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
}

#city-name {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 7px;
    font-family: var(--font-group);
}

.search-btn {
    background-color: var(--dark-blue);
    border: none;
    color: white;
    align-self: flex-end;
    margin-top: 10px;
    padding: 0.5em 1em;
    border-radius: 7px;
}

button {
    cursor: pointer;
}
