@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --red: #f22e2e;
    --light-red: #ff4d4d;
    --dark-blue: #1e4554;
    --font-group: 'inter', Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--red);
    font-family: var(--font-group);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}

.logo {
    height: 77px;
}

ul,
nav {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul {
    gap: 15px;
}

li {
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.home-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp-n-wt-div {
    background-color: var(--light-red);
    padding: 17px;
    box-shadow: 0px 7px 15px rgb(0, 0, 0, 0.3);
    border-radius: 15px;
}

.input-div {
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
}

#city-name {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 7px;
    font-family: var(--font-group);
}

.search-btn,
.nav-search-btn {
    background-color: var(--dark-blue);
    border: none;
    color: white;
    padding: 0.5em 1em;
    border-radius: 7px;
    cursor: pointer;
}

li {
    cursor: pointer;
}

.nav-search-btn {
    margin-left: 10px;
}

.search-btn {
    align-self: flex-end;
    margin-top: 10px;
}

.weather-main {
    display: flex;
    padding: 7% 15%;
    gap: 30px;
}

.icon-div {
    display: flex;
    color: white;
    flex: 2;
    gap: 25px;
}

.icon-div,
.data-div {
    min-height: 190px;
}

.data-div {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 40px;
    flex: 1;
    gap: 15px;
    max-width: 300px;
}

.icon-container {
    width: 200px;
}

.icon {
    width: 100%;
    align-self: center;
}

h1 {
    font-size: 38px;
    font-weight: 600;
}

h2 {
    font-size: 22px;
    font-weight: 500;
}

h3 {
    font-size: 14px;
    font-weight: 300;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
}

.sun-icons-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 25px;
}

.h-n-ws {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
